

{% extends "master.html" %}

{% block title %}
  My Tennis Club - table
{% endblock %}


{% block content %}
  <h1>Members</h1>
  
  <!-- <ul>
    {% for x in mymembers %}
      <li><a href="data/{{ x.id }}">{{ x.first_name }} {{ x.second_name }}</a></li>
    {% endfor %}
  </ul> -->
  <table border="1">
    <tr>
        <th>Member details</th>
    </tr>
    <tr>
        <th>data</th>
        <th>data</th>
    </tr>
    <tr>
        <th>hellow</th>
        <th>hellow</th>
    </tr>
  </table>
{% endblock %}